* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: #d3d3d3;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.nav-Bar {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    min-height: 60px;
}

/* hamberger menu icon */
.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.5 ease-in-out;
    background-color: white;
}


.logo-name {
    color: #B3B3B3;
    font-size: 1.5rem;
    cursor: pointer;
}

.logo-name span {
    color: #CC0000;
}

.menu {
    display: flex;
    list-style: none;
    font-size: 1rem;
    gap: 40px;
}

.menu .menu-item a {
    color: white;
    text-decoration: none;
}

.menu .menu-item a:hover {
    color: #B3B3B3;
}

/*
    main 
*/
.form-container {
    display: flex;
    justify-content: center;
    margin-top: 12rem;
}

input[type='search'] {
    width: 100%;
    height: 40px;
    border-radius: 50px 0 0 50px;
    padding-left: 20px;
    font-size: 1rem;
    outline: none;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

button[type='submit'] {
    width: 8rem;
    font-size: 1rem;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

/* create grid container for my gifs */
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-container.active{
    display: none;
}
.targetGif-container  img{
    width: 50vw;
    max-width: 500px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0);
}
.gifs-container{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 43vw;
    margin: 20px auto;
}
.gif-item{
    flex: 1 1 25%;
    text-align: center;
}

.container{
    width: 65vw;
    height: auto;
}

/* footer */
.footer-container{
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
    background-color: rgb(26, 26, 26);
    padding: 40px;
    box-sizing: border-box;
}

.footer-container h1{
    font-size: large;
}
.contact-container{
    color: rgb(184, 184, 184);
}
.contact-container form{
    color: rgb(184, 184, 184);
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.about-container{
    color:rgb(184, 184, 184);
    width: 300px;
}
.about-container p{
 font-size: small;
}
.all-rights-container{
    color: rgb(184, 184, 184);
    text-align: center;
    background-color: black;
}
.all-rights-container p{
    font-size: 0.8rem;
}
/* form style */
.form-item{
    width: 300px;
    height: 30px;
    border: 1px solid rgb(100, 100, 100);
    outline: none;
    padding-left: 4px;
}
input[type="submit"]{
    padding: 0;
}
#txtacomment{
    height: 50px;
}

@media(max-width:540px) {
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .menu{
        position: absolute;
        top: -100%;
        left: 0;
        gap: 0;
        flex-direction: column;
        background-color: #333333;
        width: 100%;
        text-align: center;
        transition: 0.5s;
    }

    .menu-item{
        margin: 16px 0;
    }
    .menu.active{
        top: 75px;
    }
}
@media(max-width:320px) {
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .menu{
        position: absolute;
        top: -100%;
        left: 0;
        gap: 0;
        flex-direction: column;
        background-color: #333333;
        width: 100%;
        text-align: center;
        transition: 0.5s;
    }

    .menu-item{
        margin: 16px 0;
    }
    .menu.active{
        top: 75px;
    }
}
/* add cursor pointer on my gifs*/
.gif-item{
    cursor: pointer;
}